@mixin center (
  $horizontal-center: false,
  $vertical-center: false,
  $position: absolute
  ) {
    position: $position;
    
    @if($horizontal-center != false) {
      left: 50%;
      
      @if(type_of($horizontal-center) == bool) {
        transform: translateX(-50%);
      }@else if(type_of($horizontal-center) == number) {
        margin-left: -$horizontal-center / 2;
      }
    }
    
    @if($vertical-center != false) {
      top: 50%;
      
      @if(type_of($vertical-center) == bool) {
        transform: translateY(-50%);
      }@else if(type_of($vertical-center) == number) {
        margin-top:  -$vertical-center / 2;
      }
    }
}